

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: contain;
}
.list-group{
    max-height: 350px;
    margin-bottom: 5px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    width: 600px;
}
.anyClass {
  height:350px;
  overflow-y: scroll;
}
.newsformat {

    margin: 100px;
    display: block;
}