{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>AAA Tutorial</h2>
            <p>The Arrange-Act-Assert (AAA) pattern has become a standard within the programming community. It suggests
                that you should divide your test method into three sections as the name implies as follows:<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <b>Arrange</b> - Arrange the section you have code required for a test. Make sure you look at your
            program and
            set up the tests for any special steps such as setting up a database or logging into a website. <br>
            <b>Act</b> - Test the intended method.<br>
            <b>Assert</b> - See if your desired result was achieved. The assert steps will verify that the program
            is
            working correctly.
            </p>
            <br>
            <p>In the screenshot to the right of the calculator test, each section of AAA testing has been
                labeled.<br><br>
                In the first section of this test labeled  <b>"Arrange"</b>, the variables calc1 and calc2 are created.<br><br>
                The <b>"Act"</b> section defines the value of calc1 and calc2 as 3 and 4, respectively.<br><br>
                The <b>"Assert"</b> section verifies that the results of calc1 and calc2 are 3 and 4, respectively.<br>
                <br>
            </p>
        </div>

    <br>
    <div class="col-5">
        <img src="/static/images/aaatest.PNG" class="img-rounded img-fluid" alt="AAA Test">
    </div>
         </div>
</div>
<br>
<div class="row">
    <div class="col-9">
        The AAA pattern is an effective way of testing our code. The example above shows a simplistic overview of
        how the AAA testing pattern is applied to this program. The arrange step sets up the data to be tested while
        the act step performs the test. The final assert step is tasked with determining whether or not the expected
        result is returned. <br> <br>
    </div>
    <hr>
    <div class="row">
        <h4><b>References</b></h4>
        <li><a href="https://medium.com/@pjbgf/title-testing-code-ocd-and-the-aaa-pattern-df453975ab80">https://medium.com/@pjbgf/title-testing-code-ocd-and-the-aaa-pattern-df453975ab80</a>
        </li>
        <li><a href="https://automationpanda.com/2020/07/07/arrange-act-assert-a-pattern-for-writing-good-tests/">https://automationpanda.com/2020/07/07/arrange-act-assert-a-pattern-for-writing-good-tests/</a>
        </li>
        <li><a href="https://developers.mews.com/aaa-pattern-a-functional-approach/">https://developers.mews.com/aaa-pattern-a-functional-approach/</a>
        </li>
        <li><a href="https://blog.devgenius.io/the-three-as-of-unit-testing-3b8b4bf0d087">https://blog.devgenius.io/the-three-as-of-unit-testing-3b8b4bf0d087</a>
        </li>
        <p></p>
    </div>
</div>
{% endblock %}