{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Continuous Integration and Continuous Delivery (CI/CD)</h2>
            <p>Continuous Integration and Continuous Delivery or CI/CD is, in simple terms, a modern software
                development practice which incremental code changes are able to be made frequently and reliably.
                Automated procedures are established to test, build, and deploy code seamlessly and quickly.
                Continuous integration involves developers making small changes and checks to their code. This process
                is automated to ensure that teams can effectively collaborate and reliably build, test, and deploy their
                applications to their intended destinations.
                This is especially important when multiple individuals are working on one project. Developers should
                have a stable base and make small incremental changes. As stated in the article, "Continuous
                Integration" by Martin Fowler (https://www.martinfowler.com/articles/continuousIntegration.html), "The
                result of doing this is that there is a stable piece of software that works properly and contains few
                bugs. Everybody develops off that shared stable base and never gets so far away from that base that it
                takes very long to integrate back with it."</p>
            <p>
                Continuous delivery refers to the automated delivery of complete code to testing or development
                environments. Fowler states in his Continuous Delivery article
                (https://www.martinfowler.com/bliki/ContinuousDelivery.html), "You achieve continuous delivery by
                continuously integrating the software done by the development team, building executables, and running
                automated tests on those executables to detect problems. Furthermore you push the executables into
                increasingly production-like environments to ensure the software will work in production."


                Every change that passes through automated tests is the moved to the production
                environment.
                For this project, there are several steps that needed to be taken to establish a CI/CD workflow:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ol type="1">
                <li>Create a new GitHub repository for your project
                <li>Create a new Docker repository</li>
                <li>Create a two new Apps within Heroku, one for production and one for development.</li>
                <li>Create API key within Heroku</li>
                <li>Add “secrets” to the GitHub repository including Docker username and Password and Heroku API key.
                </li>
                <li>Edit the prod.yml and dev.yml workflow files in the project that contain GitHub Actions with any of
                    your own account information.
                </li>
            </ol>
            <br>
            <p>Once these steps are completed, the CI/CD process is as follows:
            <ol type="1">
                <li>As code is developed locally within PyCharm, commits are made to save and document changes of the
                    application.
                </li>
                <li>Once committed, the application can be pushed to the working branch of GitHub.</li>
                <li>When a “pull” request is initiated, it will begin the Development workflow process. This starts with
                    a test of code utilizing Pytest following the instructions contained in simple_pages_test.py. Once
                    this passes, the workflow will move on to the deployment step where the code is sent to the
                    development application in Heroku.
                </li>
                <li>The code can be reviewed for any errors and a “merge pull request” can be initiated to merge the
                    branch into the main production branch.
                </li>
                <li>The “merge pull request” will then utilize the prod.yml workflow file and follow the GitHub Actions
                    to again, test the code with Pytest.
                </li>
                <li>Once the test passes, the prod.yml workflow instructs GitHub to build the application and send it to
                    the Docker repository.
                </li>
                <li>The final step is to deploy the working and tested product to the production application created
                    within Heroku.
                </li>
            </ol>
        </div>
        <div class="col-6">
            <img src="/static/images/heroku.PNG" class="center" style="border: 5px solid #555"; alt="Secrets">
            <br>
             <img src="/static/images/commit.PNG" class="center" alt="Commit">
            <br>
             <img src="/static/images/pull.PNG" class="center" alt="Pull">
            <br>
             <img src="/static/images/deploytests.PNG" class="center" alt="Tests">
        </div>
    </div>
</div>
{% endblock %}