{% extends "base.html" %}
{% block content %}
Index Page
<div class="row mb-5">
</div>
<div class="d-flex flex-column justify-content-around">
    <div class="row">
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="/static/images/git.png" alt="Card image" style="width:100%">
                <div class="card-body text-center">
                    <a href="/docker" class="btn btn-primary">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="/static/images/docker.png" alt="Card image" style="width:115%">
                <div class="card-body text-center">
                    <a href="/pf" class="btn btn-primary">Docker</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="/static/images/pf.png" alt="Card image" style="width:122%">
                <div class="card-body text-center">
                    <a href="/pf" class="btn btn-primary">Python/Flask</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="/static/images/cicd.png" alt="Card image" style="width:122%">
                <div class="card-body text-center">
                    <a href="/cicd" class="btn btn-primary">CI/CD</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}