{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <br><br>
        <div class="col-12">
            <img class="w-50 center" src="/static/images/pytestlogo.png" alt="Pylint">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <p><b>Testing applications has become an imperative part of developing software and a skill every developer
                should have. Releasing any untested software or applications could lead to major issues with bugs and
                unusable programs. Python has an extensive library of tools to support testing, particularly, Pytest.
                Pytest is a frontrunner for testing due to its ease of use and ability to handle complex testing
                needs.</b></p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p></p>
        </div>
        <div class="col-6">
            <h3>Features of Pytest</h3>
            <li>Does not require API to use</li>
            <li>Can be used to run doc tests and unit tests</li>
            <li>Gives useful failure information without the use of debuggers</li>
            <li>Can be written as a function or method</li>
            <li>Has useful plugins</li>
        </div>
        <div class="col-4">
            <h3>Advantages of Pytest</h3>
            <li>It is open-source</li>
            <li>It can skip tests and automatically detect the tests</li>
            <li>Tests are run in parallel</li>
            <li>Specific tests and subsets of tests can be run from the program</li>
            <li>It is easy to start with as it has a very easy syntax</li>
        </div>

    </div>
    <br> <br>
    <div class="row">

        <img class="w-75 center" src="/static/images/pytest3.png" alt="Pytest">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4">
        <h1>Pylint</h1>
        <p>Pylint is a tool that checks for errors in Python code. It attempts to enforce a coding standard and
            looks for code "smells". Pytest can also look for certain types of errors, make recommendations
            about
            how certain code block and be refactored and offer you details about the complexity of the
            code. </p>
        <img class="w-50" src="/static/images/command1.PNG" alt="command">
    </div>
    <div class="col-8">
        <br>
        <img class="w-75 center" src="/static/images/pytest--pylint.png" alt="Pytest1" id="zoomB">
    </div>
</div>
<br>
<div class="row">
    <hr>
    <div class="col-5">
        <br>
        <img class="w-75 center" src="/static/images/pytest2.PNG" alt="Pytest2" id="zoomB">
    </div>
    <div class="col-7">
        <h1>Pytest Code Coverage</h1>
        <p>Code coverage is a measure of exhaustiveness of a test suite. 100% code coverage means that a systems
            is
            fully tested. The higher the code coverage, the fewer defects a system has. Code coverage canbe
            broken
            down into three main types:<br><br>
            <b>Statement Coverage</b> - This is used by default in the python code coverage library. <br>
            <b>Branch Coverage</b> - Tests for un-sequential code such as "if" statements. <br>
            <b>Condition Coverage</b> - This tests for True/False statements </p>
        <img class="w-25" src="/static/images/command2.PNG" alt="command">
    </div>
</div>
<hr>
<div class="row">
    <h4><b>References</b></h4>
    <li><a href="https://docs.pytest.org/en/7.1.x/">https://docs.pytest.org/en/7.1.x/</a></li>
    <li><a href="https://realpython.com/pytest-python-testing/">https://realpython.com/pytest-python-testing/</a>
    </li>
    <li><a href="https://semaphoreci.com/community/tutorials/testing-python-applications-with-pytest">https://semaphoreci.com/community/tutorials/testing-python-applications-with-pytest</a>
    </li>
    <li><a href="https://www.softwaretestinghelp.com/pytest-tutorial/">https://www.softwaretestinghelp.com/pytest-tutorial/</a>
    </li>
    <li>
        <a href="https://pytest-cov.readthedocs.io/en/latest/">https://pytest-cov.readthedocs.io/en/latest/</a>
    </li>
    <p></p>
</div>
</div>

{% endblock %}