{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
          <h1>Resources</h1>
        <div class="col-6">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/bootstrap.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Bootstrap</h5>
                            <p class="card-text">The most popular HTML, CSS, and JS library in the world.</p>
                            <a href="https://getbootstrap.com/" target=_blank">https://getbootstrap.com/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/tutlane.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Tutlane</h5>
                            <p class="card-text">One Stop Solution For All Your Learning Needs</p>
                            <a href="https://www.tutlane.com/" target=_blank">https://www.tutlane.com/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/w3.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">W3 Schools</h5>
                            <p class="card-text">Learn To Code With The Worlds Largest Development Site </p>
                            <a href="https://www.w3schools.com/bootstrap5/" target=_blank">https://www.w3schools.com/bootstrap5/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/stackoverflow.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Stack Overflow</h5>
                            <p class="card-text">Empowering the world to develop technology through collective
                                knowledge</p>
                            <a href="https://stackoverflow.com/" target=_blank">https://stackoverflow.com/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}