{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>SOLID</h2>
                        <h3>Overview of SOLID</h3>
SOLID is an acronym for the first five object-oriented design principles by Robert C. Martin. These principles are guidelines used to establish uniformity among programmers. These principles can apply to various programming languages and can be shared with collaborators to be with fewer complications.<br><br>
<b>S</b> - Single-responsiblity Principle - A class should have one and only one reason to change, meaning that a class should have only one job.<br>
<b>O</b> - Open-closed Principle - Objects or entities should be open for extension but closed for modification. A class should be extendable without modifying the class itself.<br>
<b>L</b> - Liskov Substitution Principle - Every subclass or derived class should be substitutable for their base or parent class.<br>
<b>I</b> - Interface Segregation Principle - A client should never be forced to implement an interface or forced to depend on methods that they do not use.<br>
<b>D</b> - Dependency Inversion Principle - Entities must depend on abstractions, not on concretions. The high-level module must not depend on the low-level module, but they should depend on abstractions.<br>
<br><br>
        </div>
    </div>
</div>
<hr class="solid">
<div class="row">
    <div class="col-12">
        <h3>Types of Design Patterns</h3>
        <img class="w-50 center" src="/static/images/dpatterns.jpg" alt="Design Patterns">
        <p>
            Design patterns are typical solutions to common problems in software design. They can be thought of as
            pre-made blueprints that can be customized to fit a users code. The pattern is a general concept for
            solving a particular problem and can't just be copied into your program. Design patterns can be thought
            of as a toolkit with tried and tested solutions to common problems in software design. Patterns are
            classified into three main groups:</p><br><br>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <img class="w-50 center" src="/static/images/Creational.jpeg" alt="Creational">
    </div>
    <div class="col-4">
        <br>
        <p> These patterns provide object creation mechanisms that increase flexibility and reuse of
            existing code. They emphasize the automatic creation of objects within code, rather than requiring you to
            instantiate objects manually. Many times, a function or method can call the code necessary to instantiate
            new objects for you so you only need to make modifications to the object creation when necessary and allow
            the default behaviors to run. </p><br>
    </div>

</div>
<hr>
<div class="row justify-content-center">
    <div class="col-4">
        <img class="w-50 center" src="/static/images/structural.jpg" alt="Structural">
    </div>
    <div class="col-4">
        <br>
        <p>Structural patters explain how to assemble objects and classes into larger structures,
            while keeping the structures flexible and efficient. They focus on the composition of classes and by using
            inheritance and interfaces, allow objects to be composed in a manner that offers new functionality. In many
            cases, an interface in object-oriented programming is an abstract type of class without logical code and is
            used to define method behaviors for other classes that will implement the interface.</p><br>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-4">
        <img class="w-50 center" src="/static/images/behavioral.PNG" alt="Behavoral">
    </div>
    <div class="col-4"><br><br>
        <p>Behavioral patterns take care of effective communication and the assignment
            of responsibilities between objects. The operations that make up a single algorithm might be split up
            between different classes which make it difficult to manage. Behavioral patterns optimize how communications
            should be handled between various classes. </p><br>
    </div>

</div>
{% endblock %}