{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>SOLID</h2>
                        <h3>Overview of SOLID</h3>
SOLID is an acronym for the first five object-oriented design principles by Robert C. Martin. These principles are guidelines used to establish uniformity among programmers. These principles can apply to various programming languages and can be shared with collaborators to be with fewer complications.<br><br>
<b>S</b> - Single-responsiblity Principle - A class should have one and only one reason to change, meaning that a class should have only one job.<br>
<b>O</b> - Open-closed Principle - Objects or entities should be open for extension but closed for modification. A class should be extendable without modifying the class itself.<br>
<b>L</b> - Liskov Substitution Principle - Every subclass or derived class should be substitutable for their base or parent class.<br>
<b>I</b> - Interface Segregation Principle - A client should never be forced to implement an interface or forced to depend on methods that they do not use.<br>
<b>D</b> - Dependency Inversion Principle - Entities must depend on abstractions, not on concretions. The high-level module must not depend on the low-level module, but they should depend on abstractions.<br>
<br><br>
        </div>
    </div>
</div>
{% endblock %}